/*Con border box no se nos desbordan de tamaño los elementos https://midu.dev/que-es-y-para-que-sirve-box-sizing-border-box/*/
body{
  background-color: #404040;
}
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


#header {
  text-align: right;
  font-size: 35px;
  color: white;
  background-color: #404040;
}


#middlediv {
  display: -webkit-flex;
  display: flex;
}


#navbar {
  overflow: hidden;
  background-color: #404040;
  position: sticky;
  top: 0;
  width: 100%;
}

a:hover {
  background-color:  #333;
  font-weight: lighter;
  font-weight: bolder;
}

#navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}


td, th {
  text-align: left;
  padding: 10px;
}

.lineaDebajo{
  margin-top: -80px;
}

nav {
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
  text-align: center;
}


#mainpic{
  border-color: black;
  position:-webkit-sticky;
  position: sticky;
}

#nationalitypic{
  border-color: black;
  width: 35px;
  height: 22px;
}

#info {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
  padding-right: 30px;
  padding-left: 20px;
}

 

#foot {
  margin-bottom: 0px;
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}


@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

p {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}