body{
  background-image: url("gifD.gif");
  background-color: black;
  background-repeat: no-repeat; 
  background-position: center center;
  background-size: 1250px 1000px;
  font-family: monaco,Consolas,Lucida Console,monospace;
  text-shadow: 2px 2px #FF0000;
}

.lets{
  color: white;
  font-size: 80px;
  font-weight: bold; 
  text-align: center;
}

#canvas {
    border: 1px solid white;
    margin-top: -29px;
}

#main {
  width: 90%;
  height: 90%;
  display: flex;
  margin: 55px;
}

#main div {
  -ms-flex: 3;  
  flex: 3;
}

#button {
  margin-left: 400px;
  margin-top: 150px;
  background-color: white;
  color: black;
  border: none;
  padding: 35px 42px;
  text-align: center;
  display: inline-block;
  font-size: 40px;
  font-weight: bold; 
  position: absolute;
  visibility:hidden;
  font-family: monaco,Consolas,Lucida Console,monospace;
  cursor: pointer;
  border-radius: 5px;
}

#button:hover {background-color: #cccccc}

.instrucciones{
  color: white;
  text-align: center;
}

#textos{
  animation-name: canvasAnimation;
  animation-duration: 2s;
  position: relative;
}

.up2down{
  animation-name: up2downAnimation;
  animation-duration: 2s;
  position: relative;
}

#prevIns{
  animation-name: side2side;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  position: relative;
}

@keyframes canvasAnimation {
  0%   {top:500px;}
  100% {top:0px;}
}

@keyframes up2downAnimation {
  0%   {top:-400px;}
  100% {top:0px;}
}

@keyframes side2side {
  0%   {left:5px;}
  100% {right:5px;}
}