body {
    background-color: grey;
  }

#stingy{
    margin-left: 300px;
    margin-top: 30px;
  }

#canvas{
  margin-left: 50px;
  margin-top: 30px;
}

#botones{
 
  margin-left: 500px;
  margin-top: 80px;
}