body {
    background-color: grey;
  }

#stingy{
    margin-left: 330px;
    margin-top: 150px;
  }

#canvas{
  margin-left: 80px;
  margin-top: 150px;
}

#botones{
  margin-left: 380px;
  margin-top: 60px;
}

.btn{
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

#deslizadores{
  margin-left: 850px;
  margin-top: -420px;
}

p{
  float: left;
}