body {
    background-color: grey;
  }

#stingy{
    margin-left: 300px;
    margin-top: 150px;
  }

#canvas{
  margin-left: 50px;
  margin-top: 150px;
}

#botones{
  margin-left: 450px;
  margin-top: 80px;
}

#deslizadores{
  margin-left: 850px;
  margin-top: -420px;
}

p{
  float: left;
}